.outtage-page {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }
  .outtage-page .outtage-information {
    width: 50%; }
    .outtage-page .outtage-information .information-table {
      padding: 3em;
      display: flex;
      flex-wrap: wrap; }
      .outtage-page .outtage-information .information-table aside {
        margin-bottom: 1em;
        width: 50%; }
      .outtage-page .outtage-information .information-table label {
        display: block;
        text-transform: uppercase;
        color: #aaa;
        font-size: 0.8em;
        letter-spacing: 1px;
        font-weight: bold; }
  .outtage-page .updates-container {
    text-align: center;
    width: 50%;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .outtage-page .updates-container button {
      width: 70px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
      font-size: 0.8em;
      height: 70px;
      border-radius: 50% !important; }
      .outtage-page .updates-container button:hover {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); }
    .outtage-page .updates-container h2 {
      text-align: center;
      text-transform: uppercase;
      color: #aaa;
      font-size: 1em; }
    .outtage-page .updates-container .update-helper-text {
      opacity: 0.7;
      padding: 2em 0;
      font-style: italic; }

@media all and (max-width: 1000px) {
  .outtage-page {
    width: 100%; }
    .outtage-page .outtage-information,
    .outtage-page .updates-container {
      width: 100%; }
    .outtage-page .outtage-information {
      margin-bottom: 2em; }
    .outtage-page .updates-container {
      padding: 0; }
      .outtage-page .updates-container h2 {
        align-self: flex-start; }
    .outtage-page .add-update-button {
      position: fixed;
      bottom: 2em;
      right: 2em; } }
