.outtage-page {
  display: flex;
  flex-wrap: wrap; }
  .outtage-page .outtage-information {
    width: 50%; }
    .outtage-page .outtage-information .information-table {
      padding: 3em;
      display: flex;
      flex-wrap: wrap; }
      .outtage-page .outtage-information .information-table aside {
        margin-bottom: 1em;
        width: 50%; }
      .outtage-page .outtage-information .information-table label {
        display: block;
        text-transform: uppercase;
        color: #aaa;
        font-size: 0.8em;
        letter-spacing: 1px;
        font-weight: bold; }
  .outtage-page .updates-container {
    text-align: center;
    width: 50%;
    padding: 0 4em;
    display: flex;
    flex-direction: column; }
    .outtage-page .updates-container button {
      width: 50px;
      border-radius: 50% !important; }
    .outtage-page .updates-container h2 {
      text-align: center;
      text-transform: uppercase;
      color: #aaa;
      font-size: 1em; }

@media all and (max-width: 1000px) {
  .outtage-page {
    width: 100%; }
    .outtage-page .outtage-information,
    .outtage-page .updates-container {
      width: 100%; }
    .outtage-page .outtage-information {
      margin-bottom: 2em; } }
