// components
@import './components/atoms/BodyCard/BodyCard.scss';
@import './components/molecules/OuttageCard/OuttageCard.scss';
@import './components/molecules/UpdateCard/UpdateCard.scss';
@import './components/molecules/AddEditJobUpdate/AddEditJobUpdate.scss';

@import './components/organisms/Navigation/Navigation.scss';
@import './components/organisms/Header/Header.scss';
@import './components/molecules/AppMessage/AppMessage.scss';
@import './components/pages/Home/Home.scss';
@import './components/pages/OuttagePage/OuttagePage.scss';
@import './components/pages/Login/Login.scss';
@import './components/pages/Register/Register.scss';

body.vsc-initialized,
h1,
h2,
h3,
h4 {
	font-family: 'Roboto' !important;
}

body.vsc-initialized {
	a {
		font-weight: 900;
		color: #fcd156;
	}

	.ui.button {
		background: #fcd156;
		color: #222;
		border-radius: 18px;
	}

	.ui.modal {
		box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
		border-radius: 2em;
	}

	.ui.dimmer {
		background: rgba(0, 0, 0, 0.15);
	}
}
