.body-card {
  background: #fff;
  border-radius: 3em;
  box-shadow: 10px 10px 3em rgba(0, 0, 0, 0.04); }

.outtage-card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 1em;
  padding: 2em;
  transition: all 0.15s ease-in-out; }
  .outtage-card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08); }

.app-nav {
  align-content: center;
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  top: 62px;
  transform: translateX(-100%);
  transition: transform 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  width: 100px; }
  .app-nav.open {
    transform: translateX(0); }
  .app-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0; }
    .app-nav a:hover {
      background: #efefef; }

#header {
  align-items: stretch;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%; }
  #header .menu-container {
    align-content: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100px; }
  #header .logo-container {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    font-weight: 800; }
  #header .menu-container,
  #header .login-button-container {
    padding: 1em;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #header .menu-container:hover,
    #header .login-button-container:hover {
      cursor: pointer;
      background: #efefef; }

#app-message {
  background: white;
  border-left: 6px solid green;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  padding: 1em;
  position: fixed;
  width: 100%; }

.body-content {
  align-items: center;
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 60px;
  padding: 2em; }
  .body-content .outtages {
    padding: 3em;
    width: 800px; }
    @media all and (max-width: 767px) {
      .body-content .outtages {
        width: 100%; } }

.outtage-page {
  display: flex;
  flex-wrap: wrap; }
  .outtage-page .outtage-information {
    width: 500px; }
    .outtage-page .outtage-information .information-table {
      padding: 3em;
      display: flex;
      flex-wrap: wrap; }
      .outtage-page .outtage-information .information-table aside {
        margin-bottom: 1em;
        width: 50%; }
      .outtage-page .outtage-information .information-table label {
        display: block;
        text-transform: uppercase;
        color: #aaa;
        font-size: 0.8em;
        letter-spacing: 1px;
        font-weight: bold; }
  .outtage-page .updates-container {
    width: 500px; }
    .outtage-page .updates-container h2 {
      text-align: center;
      text-transform: uppercase;
      color: #aaa;
      font-size: 1em; }

@media all and (max-width: 1000px) {
  .outtage-page {
    width: 100%; }
    .outtage-page .outtage-information,
    .outtage-page .updates-container {
      width: 100%; }
    .outtage-page .outtage-information {
      margin-bottom: 2em; } }

.auth-page {
  display: flex; }
  .auth-page .auth-background,
  .auth-page .auth-container {
    width: 50%;
    height: 100vh; }
  .auth-page .auth-background {
    background-repeat: no-repeat;
    background-size: cover; }
  .auth-page .auth-container {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .auth-page .auth-helper-container {
    color: #aaa; }

@media all and (max-width: 1000px) {
  .auth-page .auth-background {
    display: none; }
  .auth-page .ui.button {
    width: 100%;
    margin-bottom: 1em;
    display: block; }
  .auth-page .auth-container {
    justify-content: flex-start;
    width: 100%; } }

.register-page {
  display: flex; }
  .register-page .register-background,
  .register-page .register-container {
    width: 50%;
    height: 100vh; }
  .register-page .register-background {
    background-repeat: no-repeat;
    background-size: cover; }
  .register-page .register-container {
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center; }

@media all and (max-width: 1000px) {
  .register-page .register-background {
    display: none; }
  .register-page .register-container {
    justify-content: flex-start;
    width: 100%; } }

body.vsc-initialized,
h1,
h2,
h3,
h4 {
  font-family: 'Roboto' !important; }

body.vsc-initialized a {
  font-weight: 900;
  color: #fcd156; }

body.vsc-initialized .ui.button {
  background: #fcd156;
  color: #222;
  border-radius: 18px; }
