.body-container {
	align-items: center;
	background: #f9fafc;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin-top: 60px;
	padding: 2em;

	.body-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 1080px;

		@media all and (max-width: 1000px) {
			width: 100%;
		}
	}

	.outtages {
		padding: 3em;
		width: 800px;

		@media all and (max-width: 767px) {
			width: 100%;
		}
	}
}
